@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 500px;
}

button,
[type='button'] {
  background-color: #fff !important;
  background-image: #fff !important;
}

.car-shadow {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}